<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We use notifications to alert you about exclusive adventure drops and rewards you might be interested in.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to create personalized adventures and find nearby rewards for you.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
